---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Container from "@components/container.astro";

import aar from "@assets/teacher/aar.jpg";
import klw from "@assets/teacher/klw.jpg";
import mos from "@assets/teacher/mos.jpg";
import efo from "@assets/teacher/efo.jpg";
import grm from "@assets/teacher/grm.jpg";
import bbe from "@assets/teacher/bbe.jpg";
import msc from "@assets/teacher/msc.jpg";

type TeacherAcronym = "aar" | "klw" | "mos" | "grm" | "bbe" | "msc" | "efo";
const teacherImages: Record<TeacherAcronym, ImageMetadata> = {
  aar,
  klw,
  mos,
  grm,
  bbe,
  msc,
  efo,
};

const publishedTeamMembers = await getCollection('team', ({ data }) => !data.draft);

---

<Container>
    <div class="row">
      {
        publishedTeamMembers.map((teamMemberEntry) => {
          const avatarSrc = teamMemberEntry.data.acronym;
          const isValidAcronym = avatarSrc in teacherImages;
          const imageSrc = isValidAcronym ? teacherImages[avatarSrc as TeacherAcronym] : undefined;
  
          return (
            <div class="column">
              {
                imageSrc ? (
                  <Picture
                    src={imageSrc}
                    alt={teamMemberEntry.data.avatar.alt}
                    sizes="(max-width: 800px) 100vw, 400px"
                    width={150}
                    height={150}
                  />
                ) : (
                  <div style="width: 150px; height: 150px; background: #ccc;">
                    <p>No Image</p>
                  </div>
                )
              }
  
              <div>
                <p class="title">{teamMemberEntry.data.name}</p>
                <p>
                  Akronym: {teamMemberEntry.data.acronym}<br />
                  Discord: {teamMemberEntry.data.discord}<br />
                  Epost: <a href={`mailto:${teamMemberEntry.data.email}`}>{teamMemberEntry.data.email}</a>
                </p>
              </div>
            </div>
          );
        })
      }
    </div>
  </Container>
  

  <style>
    .title {
      font-size: larger;
      line-height: 10%;
    }

    .column:first-child {
      margin-top: 18px;
    }
    
    .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    .column {
      flex: 25%;
      padding: 0px;
    }

    @media screen and (max-width: 992px) {
      .column {
        flex: 50%;
      }
    }

    @media screen and (max-width: 600px) {
      .row {
        flex-direction: column;
      }
    }
  </style>
